In [3]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine
import os
import pandas as pd

app = Flask(__name__)

engine = create_engine('sqlite:///recommender2.db', echo=False)

for f in os.listdir('data/movies/ml-latest-small'):
    if f[-4:] == '.csv':
        data = pd.read_csv(f'data/movies/ml-latest-small/{f}')
        data.to_sql(f[:-4], engine)
        print(f[0:-4])

links
ratings
movies
tags

In [2]:
pwd

'/flask_jupyter'

In [4]:
watched_movie_id_list = ['70286', '109487', '589']

In [5]:
import numpy as np

movie_id_unique = 'SELECT * FROM movies'
all_movies = pd.read_sql(movie_id_unique, engine)

#remove the input movies from all_movies
movies_not_watched = all_movies[~all_movies['movieId'].isin(watched_movie_id_list)]
movies_not_watched.loc[:,'fake_id'] = np.ones(len(movies_not_watched), dtype =int)

#get all_ratings from sqlite
query = 'SELECT "userId", ratings."movieId", movies.title, rating FROM ratings JOIN movies ON ratings."movieId" = movies."movieId";'
all_ratings = pd.read_sql(query, engine)

#remove the watched movies from all_ratings
not_all_ratings = all_ratings[~all_ratings['movieId'].isin(watched_movie_id_list)]

#remove movieId and ratings of the watched movies???
movieindex = not_all_ratings['movieId'].unique().tolist()
dl_movie2movie_encoded = {x: i for i, x in enumerate(movieindex)}
dl_movie_encoded2movie = {i: x for i, x in enumerate(movieindex)}

not_all_ratings.loc[:,"movie"] = not_all_ratings["movieId"].map(dl_movie2movie_encoded)
not_all_ratings.loc[:,"rating"] = not_all_ratings["rating"].values.astype(np.float32)

#map userId from ?? to not_all_ratings ?? what do i do with the users??

not_all_user_ids = not_all_ratings["userId"].unique().tolist()
dl_user2user_encoded = {x: i for i, x in enumerate(not_all_user_ids)}
dl_userencoded2user = {i: x for i, x in enumerate(not_all_user_ids)}

not_all_ratings.loc[:,"user"] = not_all_ratings["userId"].map(dl_user2user_encoded)

min_rating = min(not_all_ratings["rating"])
max_rating = max(not_all_ratings["rating"])
num_users = len(dl_user2user_encoded)
num_movies = len(dl_movie_encoded2movie)
print(
        "Number of users: {}, Number of Movies: {}, Min rating: {}, Max rating: {}".format(
            num_users, num_movies, min_rating, max_rating
        )
    )

#define training data
df = not_all_ratings.sample(frac=1, random_state=42)
x = not_all_ratings[["user", "movie"]].values

    # Normalize the targets between 0 and 1. Makes it easy to train.
y = not_all_ratings["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
    # Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
        x[:train_indices],
        x[train_indices:],
        y[:train_indices],
        y[train_indices:],
    )

#inference
user_movie_array = movies_not_watched[['fake_id','index']]
max_movie_index = user_movie_array['index'].max()
that = user_movie_array.to_numpy()

EMBEDDING_SIZE = 50

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

class RecommenderNet(keras.Model):
        def __init__(self, num_users, num_movies, embedding_size, **kwargs):
            super(RecommenderNet, self).__init__(**kwargs)
            self.num_users = num_users
            self.num_movies = num_movies
            self.embedding_size = embedding_size
            self.user_embedding = layers.Embedding(
                num_users,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            self.user_bias = layers.Embedding(num_users, 1)
            self.movie_embedding = layers.Embedding(
            #change this line from num_movies to max_movie_index+1
                max_movie_index+1,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            #and this line (input_dim)
            self.movie_bias = layers.Embedding(max_movie_index+1, 1)

        def call(self, inputs):
            user_vector = self.user_embedding(inputs[:, 0])
            user_bias = self.user_bias(inputs[:, 0])
            movie_vector = self.movie_embedding(inputs[:, 1])
            movie_bias = self.movie_bias(inputs[:, 1])
            dot_user_movie = tf.tensordot(user_vector, movie_vector, 2)
            # Add all the components (including bias)
            x = dot_user_movie + user_bias + movie_bias
            # The sigmoid activation forces the rating to between 0 and 1
            return tf.nn.sigmoid(x)


model = RecommenderNet(num_users, num_movies, EMBEDDING_SIZE)
model.compile(
        loss=tf.keras.losses.BinaryCrossentropy(), optimizer=keras.optimizers.Adam(lr=0.001)
    )
ratings = model.predict(that).flatten()

top_ratings_indices = ratings.argsort()[-10:][::-1]
movies_not_watched.loc[movies_not_watched['index'].isin(top_ratings_indices)]

/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Number of users: 610, Number of Movies: 9721, Min rating: 0.5, Max rating: 5.0

,index,movieId,title,genres,fake_id
3939,3939,5540,Clash of the Titans (1981),Action|Adventure|Fantasy|Romance,1
3942,3942,5544,Time After Time (1979),Sci-Fi|Thriller,1
3943,3943,5548,Down and Out in Beverly Hills (1986),Comedy,1
3947,3947,5560,À nous la liberté (Freedom for Us) (1931),Comedy|Musical,1
3951,3951,5568,Johnny Dangerously (1984),Comedy,1
3953,3953,5570,Thesis (Tesis) (1996),Drama|Horror|Thriller,1
3964,3964,5588,"Hills Have Eyes, The (1977)",Horror,1
7470,7470,81949,"Romantics, The (2010)",Comedy|Drama|Romance,1
7477,7477,82167,Love and Other Drugs (2010),Comedy|Drama|Romance,1
7486,7486,82527,Barney's Version (2010),Drama,1

In [5]:
top_ratings_indices #old prediction

array([8126, 8106, 3169, 3185, 3967, 3193, 4821, 6703, 6688, 3952])

In [6]:
top_ratings_indices #new prediction 1st reload

array([3951, 3942, 3943, 3947, 3953, 7477, 3964, 3939, 7486, 7470])

In [7]:
ratings

array([0.5231022 , 0.5083985 , 0.5073241 , ..., 0.49293852, 0.50677276,
       0.5109573 ], dtype=float32)

In [9]:
ratings[top_ratings_indices]

array([0.5384421, 0.538124 , 0.5374536, 0.5366338, 0.5365766, 0.5364874,
       0.5363341, 0.5361857, 0.5359144, 0.5355231], dtype=float32)

In [10]:
movies_not_watched.loc[:,'prediction'] = ratings
movies_not_watched.loc[:,'prediction']

/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

0       0.523102
1       0.508398
2       0.507324
3       0.510240
4       0.517798
          ...
9737    0.502514
9738    0.501018
9739    0.492939
9740    0.506773
9741    0.510957
Name: prediction, Length: 9739, dtype: float32

In [11]:
movies_not_watched

,index,movieId,title,genres,fake_id,prediction
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,0.523102
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,1,0.508398
2,2,3,Grumpier Old Men (1995),Comedy|Romance,1,0.507324
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1,0.510240
4,4,5,Father of the Bride Part II (1995),Comedy,1,0.517798
...,...,...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1,0.502514
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1,0.501018
9739,9739,193585,Flint (2017),Drama,1,0.492939
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1,0.506773
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1,0.510957

In [12]:
movies_not_watched.loc[movies_not_watched['index'].isin(top_ratings_indices)]

,index,movieId,title,genres,fake_id,prediction
3939,3939,5540,Clash of the Titans (1981),Action|Adventure|Fantasy|Romance,1,0.517522
3942,3942,5544,Time After Time (1979),Sci-Fi|Thriller,1,0.520491
3943,3943,5548,Down and Out in Beverly Hills (1986),Comedy,1,0.538124
3947,3947,5560,À nous la liberté (Freedom for Us) (1931),Comedy|Musical,1,0.531005
3951,3951,5568,Johnny Dangerously (1984),Comedy,1,0.521620
3953,3953,5570,Thesis (Tesis) (1996),Drama|Horror|Thriller,1,0.533560
3964,3964,5588,"Hills Have Eyes, The (1977)",Horror,1,0.535407
7470,7470,81949,"Romantics, The (2010)",Comedy|Drama|Romance,1,0.534779
7477,7477,82167,Love and Other Drugs (2010),Comedy|Drama|Romance,1,0.527826
7486,7486,82527,Barney's Version (2010),Drama,1,0.527384

In [13]:
top_ratings_indices #new prediction 1st reload

array([3951, 3942, 3943, 3947, 3953, 7477, 3964, 3939, 7486, 7470])

In [28]:
ratings[top_ratings_indices]

array([0.5384421, 0.538124 , 0.5374536, 0.5366338, 0.5365766, 0.5364874,
       0.5363341, 0.5361857, 0.5359144, 0.5355231], dtype=float32)

In [14]:
movies_not_watched['prediction'].argmax()

3951

In [15]:
movies_not_watched['title'][3951]

'Johnny Dangerously (1984)'

In [16]:
movies_not_watched['prediction'].max()

0.538442075252533

In [27]:
movies_not_watched[movies_not_watched['prediction'] == 0.538442075252533]

,index,movieId,title,genres,fake_id,prediction
3952,3952,5569,"Last House on the Left, The (1972)",Crime|Horror|Thriller,1,0.538442

In [ ]:
# อ๋อออออออออ แม่งดิ๊ฟกันอยู่บรรทัดนึง สาดดดดดดดด
3951, 3952

movies_not_watched['title'][3951] #'Johnny Dangerously (1984)' Comedy

3952 	5569 	Last House on the Left, The (1972) 	Crime|Horror|Thriller 	1 	0.538442

In [ ]:
วางเขย่งไปบรรทัดนึง แม่ง sci-fi ออกมาเป็น romantic comedy หมดเลย

In [ ]:
ฉะนั้น เราก็ต้องเลื่อนให้ top_ratings_indices มันถอยไป?
หรือไม่ก็ให้ recom_movie_titles มันแสดงให้ถูก

In [29]:
movies_not_watched

,index,movieId,title,genres,fake_id,prediction
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,0.523102
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,1,0.508398
2,2,3,Grumpier Old Men (1995),Comedy|Romance,1,0.507324
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1,0.510240
4,4,5,Father of the Bride Part II (1995),Comedy,1,0.517798
...,...,...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1,0.502514
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1,0.501018
9739,9739,193585,Flint (2017),Drama,1,0.492939
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1,0.506773
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1,0.510957

In [31]:
movies_not_watched.loc[3952]

index                                       3952
movieId                                     5569
title         Last House on the Left, The (1972)
genres                     Crime|Horror|Thriller
fake_id                                        1
prediction                              0.538442
Name: 3952, dtype: object

In [ ]:
movies_not_watched.loc[movies_not_watched['index'].isin(top_ratings_indices)]

In [ ]:
array([3951, 3942, 3943, 3947, 3953, 7477, 3964, 3939, 7486, 7470])
top_ratings_indices ผิดเต็มๆเลยนะที่ไ่ม่ได้ 3952 แต่ได้ 3951 มาแทน ทำไมล่ะ

array([3952, 3943, 3944, 3948, 3954, 7478, 3965, 3940, 7487, 7471])
แต่ละ item ให้เพิ่มเข้าไปอีกหนึ่งfor i in top_ratings_indices: i+1
ืnew_indices = i+1 for i in top_ratings_indices

เสร็จแล้วค่อยเอาไปใส่ใน movies_not_watched
ถึงจะได้บรรทัดที่ถูกต้องมา แล้วค่อยมาเรียก
movies_not_watched['title'] ดู
movies_not_watched[new_indices]
ถึงจะได้ recommended movies ที่ถูกต้องย่ะ

In [ ]:
สรุปว่าบรรทัดนี้ผิดเว้ย
top_ratings_indices = ratings.argsort()[-10:][::-1]

In [32]:
ratings.argsort()

array([6496, 8224, 6520, ..., 3943, 3942, 3951])

In [33]:
ratings

array([0.5231022 , 0.5083985 , 0.5073241 , ..., 0.49293852, 0.50677276,
       0.5109573 ], dtype=float32)

In [34]:
ratings.max()

0.5384421

In [85]:
ratings.max()

IndexError: invalid index to scalar variable.

In [ ]:
a[a.argsort()[-10:]]

In [87]:
ratings[ratings.argsort()[-10:]]

array([0.5355231, 0.5359144, 0.5361857, 0.5363341, 0.5364874, 0.5365766,
       0.5366338, 0.5374536, 0.538124 , 0.5384421], dtype=float32)

In [88]:
ratings[ratings.argsort()[-10:]][::-1] #เอาค่ามาถึงจะถูก

array([0.5384421, 0.538124 , 0.5374536, 0.5366338, 0.5365766, 0.5364874,
       0.5363341, 0.5361857, 0.5359144, 0.5355231], dtype=float32)

In [89]:
ratings.argsort()[-10:][::-1] #ถ้าเอา argsorted index มาผิด

array([3951, 3942, 3943, 3947, 3953, 7477, 3964, 3939, 7486, 7470])

In [86]:
ratings.argmax()

3951

In [40]:
ratings.shape

(9739,)

In [41]:
ratings.ndim

1

In [42]:
ratings.size

9739

In [ ]:
np.partition(k.flatten(), -2)[-2]

In [90]:
ratings.sort()

In [94]:
ratings

array([0.46736526, 0.46841902, 0.46861622, ..., 0.5374536 , 0.538124  ,
       0.5384421 ], dtype=float32)

In [99]:
ratings[-10:] #แบบนี้ก็ได้ แต่ต้อง sort ratings ก่อน

array([0.5355231, 0.5359144, 0.5361857, 0.5363341, 0.5364874, 0.5365766,
       0.5366338, 0.5374536, 0.538124 , 0.5384421], dtype=float32)

In [104]:
highest_score = ratings[ratings.argsort()[-10:]][::-1] #เอาค่ามาถึงจะถูก

In [105]:
highest_score

array([0.5384421, 0.538124 , 0.5374536, 0.5366338, 0.5365766, 0.5364874,
       0.5363341, 0.5361857, 0.5359144, 0.5355231], dtype=float32)

In [109]:
movies_not_watched.loc[movies_not_watched['prediction'].isin(highest_score)] ##wuuuhuuuuwww

,index,movieId,title,genres,fake_id,prediction
3940,3940,5541,Hot Shots! (1991),Action|Comedy|Romance|War,1,0.536186
3943,3943,5548,Down and Out in Beverly Hills (1986),Comedy,1,0.538124
3944,3944,5550,Love Me Tender (1956),Musical|Western,1,0.537454
3948,3948,5562,Snipes (2001),Drama|Thriller,1,0.536634
3952,3952,5569,"Last House on the Left, The (1972)",Crime|Horror|Thriller,1,0.538442
3954,3954,5572,Barbershop (2002),Comedy,1,0.536577
3965,3965,5589,Indian Summer (1993),Comedy|Drama,1,0.536334
7472,7472,82053,Casino Jack (2010),Comedy|Crime,1,0.535523
7479,7479,82202,"Tourist, The (2010)",Drama|Thriller,1,0.536487
7488,7488,82641,"One-Armed Swordsman, The (Dubei dao) (1967)",Action|Drama,1,0.535914

In [45]:
movies_not_watched.loc[3942]

index                           3942
movieId                         5544
title         Time After Time (1979)
genres               Sci-Fi|Thriller
fake_id                            1
prediction                  0.520491
Name: 3942, dtype: object

In [46]:
movies_not_watched.loc[3944]

index                          3944
movieId                        5550
title         Love Me Tender (1956)
genres              Musical|Western
fake_id                           1
prediction                 0.537454
Name: 3944, dtype: object

In [47]:
movies_not_watched.loc[3948]

index                   3948
movieId                 5562
title          Snipes (2001)
genres        Drama|Thriller
fake_id                    1
prediction          0.536634
Name: 3948, dtype: object

In [ ]:
array([0.5384421, 0.538124 , 0.5374536, 0.5366338, 0.5365766, 0.5364874,
       0.5363341, 0.5361857, 0.5359144, 0.5355231], dtype=float32)

In [ ]:
3943 	3943 	5548 	Down and Out in Beverly Hills (1986) 	Comedy 	1 	0.538124

In [48]:
movies_not_watched.loc[3943]

index                                         3943
movieId                                       5548
title         Down and Out in Beverly Hills (1986)
genres                                      Comedy
fake_id                                          1
prediction                                0.538124
Name: 3943, dtype: object

In [52]:
movies_not_watched[movies_not_watched['prediction'] == 0.5374536]

,index,movieId,title,genres,fake_id,prediction
3944,3944,5550,Love Me Tender (1956),Musical|Western,1,0.537454

In [53]:
movies_not_watched.loc[3945]

index                                  3945
movieId                                5553
title                       Stakeout (1987)
genres        Comedy|Crime|Romance|Thriller
fake_id                                   1
prediction                         0.528735
Name: 3945, dtype: object

In [54]:
movies_not_watched[movies_not_watched['prediction'] == 0.5366338]

      index  movieId          title          genres  fake_id  prediction
3948   3948     5562  Snipes (2001)  Drama|Thriller        1    0.536634

In [55]:
movies_not_watched.loc[3954]

index                      3954
movieId                    5572
title         Barbershop (2002)
genres                   Comedy
fake_id                       1
prediction             0.536577
Name: 3954, dtype: object

In [56]:
movies_not_watched.loc[3940]

index                              3940
movieId                            5541
title                 Hot Shots! (1991)
genres        Action|Comedy|Romance|War
fake_id                               1
prediction                     0.536186
Name: 3940, dtype: object

In [57]:
movies_not_watched.loc[7478]

index                                                      7478
movieId                                                   82169
title         Chronicles of Narnia: The Voyage of the Dawn T...
genres                               Adventure|Children|Fantasy
fake_id                                                       1
prediction                                              0.51369
Name: 7478, dtype: object

In [82]:
movies_not_watched.loc[7479]

index                        7479
movieId                     82202
title         Tourist, The (2010)
genres             Drama|Thriller
fake_id                         1
prediction               0.536487
Name: 7479, dtype: object

In [58]:
top_ratings_indices

array([3951, 3942, 3943, 3947, 3953, 7477, 3964, 3939, 7486, 7470])

In [64]:
new_indices = i+1: i in top_ratings_indices

SyntaxError: invalid syntax (<ipython-input-64-4d380cae6d4d>, line 1)

In [ ]:
>>> _list[:]=[i+1 for i in _list]

In [69]:
top_ratings_indices[:]=[i+1 for i in top_ratings_indices]

In [70]:
top_ratings_indices #เปลี่ยน inplace ไปแล้วนะ

array([3952, 3943, 3944, 3948, 3954, 7478, 3965, 3940, 7487, 7471])

In [ ]:
>>> list(map(lambda x: x + 1, mylist))

In [66]:
list(map(lambda x: x + 1, top_ratings_indices))
#ตอนกดอันนี้ยังไม่โดน inplace

[3952, 3943, 3944, 3948, 3954, 7478, 3965, 3940, 7487, 7471]

In [ ]:
x+1 for x in mylist

In [65]:
x+1 for x in top_ratings_indices

SyntaxError: invalid syntax (<ipython-input-65-9a6d74c123d7>, line 1)

In [67]:
top_ratings_indices #old

array([3951, 3942, 3943, 3947, 3953, 7477, 3964, 3939, 7486, 7470])

In [71]:
top_ratings_indices #new after +1

array([3952, 3943, 3944, 3948, 3954, 7478, 3965, 3940, 7487, 7471])

In [74]:
movies_not_watched['title'][top_ratings_indices]

3952                   Last House on the Left, The (1972)
3943                 Down and Out in Beverly Hills (1986)
3944                                Love Me Tender (1956)
3948                                        Snipes (2001)
3954                                    Barbershop (2002)
7478    Chronicles of Narnia: The Voyage of the Dawn T...
3965                                 Indian Summer (1993)
3940                                    Hot Shots! (1991)
7487                              Company Men, The (2010)
7471                               Loved Ones, The (2009)
Name: title, dtype: object

In [75]:
movies_not_watched['genres'][top_ratings_indices]

3952         Crime|Horror|Thriller
3943                        Comedy
3944               Musical|Western
3948                Drama|Thriller
3954                        Comedy
7478    Adventure|Children|Fantasy
3965                  Comedy|Drama
3940     Action|Comedy|Romance|War
7487                         Drama
7471                        Horror
Name: genres, dtype: object

In [76]:
i_guess_you_should_watch = movies_not_watched.loc[movies_not_watched['index'].isin(top_ratings_indices)]
i_guess_you_should_watch

,index,movieId,title,genres,fake_id,prediction
3940,3940,5541,Hot Shots! (1991),Action|Comedy|Romance|War,1,0.536186
3943,3943,5548,Down and Out in Beverly Hills (1986),Comedy,1,0.538124
3944,3944,5550,Love Me Tender (1956),Musical|Western,1,0.537454
3948,3948,5562,Snipes (2001),Drama|Thriller,1,0.536634
3952,3952,5569,"Last House on the Left, The (1972)",Crime|Horror|Thriller,1,0.538442
3954,3954,5572,Barbershop (2002),Comedy,1,0.536577
3965,3965,5589,Indian Summer (1993),Comedy|Drama,1,0.536334
7471,7471,82041,"Loved Ones, The (2009)",Horror,1,0.526765
7478,7478,82169,Chronicles of Narnia: The Voyage of the Dawn T...,Adventure|Children|Fantasy,1,0.513690
7487,7487,82534,"Company Men, The (2010)",Drama,1,0.515515

In [ ]:
array([0.5384421, 0.538124 , 0.5374536, 0.5366338, 0.5365766, 0.5364874,
       0.5363341, 0.5361857, 0.5359144, 0.5355231], dtype=float32)

In [ ]:
ไม่ใช่อีกแล้ววอ่ะ diff หนึ่ง พอมา 7477, 7486 ผิดว่ะ

In [78]:
movies_not_watched[movies_not_watched['prediction'] == 0.5364874]

      index  movieId                title          genres  fake_id  prediction
7479   7479    82202  Tourist, The (2010)  Drama|Thriller        1    0.536487

In [79]:
movies_not_watched[movies_not_watched['prediction'] == 0.5361857]

,index,movieId,title,genres,fake_id,prediction
3940,3940,5541,Hot Shots! (1991),Action|Comedy|Romance|War,1,0.536186

In [80]:
movies_not_watched[movies_not_watched['prediction'] == 0.5359144]

,index,movieId,title,genres,fake_id,prediction
7488,7488,82641,"One-Armed Swordsman, The (Dubei dao) (1967)",Action|Drama,1,0.535914

In [81]:
movies_not_watched[movies_not_watched['prediction'] == 0.5355231]

      index  movieId               title        genres  fake_id  prediction
7472   7472    82053  Casino Jack (2010)  Comedy|Crime        1    0.535523

In [ ]:
ท่อนหลังที่ขึ้นต้นด้วย 7 นี่ต้องบวกอีกสอง! แม่งไม่เสถียรอย่างแรง

In [ ]:
กูจะรู้ได้อย่างไรว่าเมื่อไหร่มันถึงจะต้องบวกสอง
วันนี้พอแค่นี้ก่อน
190121

In [14]:
not_all_ratings['movieId'] ไม่ซ้ำกันเลยซักกะบรรทัดหรือเปล่า ถึงแม้ว่าจะเป็นหนังเรื่องเดียวกัน
ไม่หนิ
สำหรับหนังเรื่อง the Davinci Code ทุกบรรทัดเป็น 45447

KeyError: "None of [Index(['Toy Story (1995)', 'Grumpier Old Men (1995)', 'Heat (1995)',\n       'Seven (a.k.a. Se7en) (1995)', 'Usual Suspects, The (1995)',\n       'From Dusk Till Dawn (1996)', 'Bottle Rocket (1996)',\n       'Braveheart (1995)', 'Rob Roy (1995)', 'Canadian Bacon (1995)',\n       ...\n       'The Magnificent Seven (2016)', 'Blair Witch (2016)', '31 (2016)',\n       'Arrival (2016)', 'Rogue One: A Star Wars Story (2016)', 'Split (2017)',\n       'John Wick: Chapter Two (2017)', 'Get Out (2017)', 'Logan (2017)',\n       'The Fate of the Furious (2017)'],\n      dtype='object', length=100474)] are in the [index]"

In [15]:
not_all_ratings.loc[not_all_ratings['movieId'] == 45447]

       userId  movieId                      title  rating
3434       21    45447  Da Vinci Code, The (2006)     3.5
7828       52    45447  Da Vinci Code, The (2006)     3.5
8932       62    45447  Da Vinci Code, The (2006)     3.5
9943       64    45447  Da Vinci Code, The (2006)     2.5
16592     105    45447  Da Vinci Code, The (2006)     4.0
17536     111    45447  Da Vinci Code, The (2006)     4.0
25535     177    45447  Da Vinci Code, The (2006)     3.5
30362     212    45447  Da Vinci Code, The (2006)     3.5
31976     219    45447  Da Vinci Code, The (2006)     2.5
32760     222    45447  Da Vinci Code, The (2006)     3.0
33519     226    45447  Da Vinci Code, The (2006)     4.0
33863     230    45447  Da Vinci Code, The (2006)     3.5
34502     232    45447  Da Vinci Code, The (2006)     3.5
35545     239    45447  Da Vinci Code, The (2006)     3.5
36106     246    45447  Da Vinci Code, The (2006)     3.0
36856     249    45447  Da Vinci Code, The (2006)     3.5
40329     274    45447  Da Vinci Code, The (2006)     3.0
41378     280    45447  Da Vinci Code, The (2006)     4.0
43122     288    45447  Da Vinci Code, The (2006)     3.0
43775     292    45447  Da Vinci Code, The (2006)     4.0
45054     298    45447  Da Vinci Code, The (2006)     0.5
46279     305    45447  Da Vinci Code, The (2006)     3.0
47592     307    45447  Da Vinci Code, The (2006)     2.0
49428     318    45447  Da Vinci Code, The (2006)     3.5
53344     352    45447  Da Vinci Code, The (2006)     3.5
54732     361    45447  Da Vinci Code, The (2006)     4.0
57714     380    45447  Da Vinci Code, The (2006)     3.0
58470     381    45447  Da Vinci Code, The (2006)     3.0
58734     382    45447  Da Vinci Code, The (2006)     3.0
60206     387    45447  Da Vinci Code, The (2006)     3.0
61639     408    45447  Da Vinci Code, The (2006)     3.5
64515     414    45447  Da Vinci Code, The (2006)     3.0
65852     424    45447  Da Vinci Code, The (2006)     3.0
66991     432    45447  Da Vinci Code, The (2006)     4.0
68204     438    45447  Da Vinci Code, The (2006)     3.0
69696     448    45447  Da Vinci Code, The (2006)     2.0
72346     466    45447  Da Vinci Code, The (2006)     4.0
75931     477    45447  Da Vinci Code, The (2006)     4.0
77020     480    45447  Da Vinci Code, The (2006)     3.5
77762     483    45447  Da Vinci Code, The (2006)     3.0
79019     489    45447  Da Vinci Code, The (2006)     3.5
80295     506    45447  Da Vinci Code, The (2006)     0.5
80642     509    45447  Da Vinci Code, The (2006)     3.0
81821     517    45447  Da Vinci Code, The (2006)     0.5
84520     542    45447  Da Vinci Code, The (2006)     3.5
86409     560    45447  Da Vinci Code, The (2006)     3.0
89731     580    45447  Da Vinci Code, The (2006)     4.0
91174     590    45447  Da Vinci Code, The (2006)     2.5
98402     606    45447  Da Vinci Code, The (2006)     2.5