In [1]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine
import os
import pandas as pd

app = Flask(__name__)

engine = create_engine('sqlite:///recommender2.db', echo=False)

for f in os.listdir('data/movies/ml-latest-small'):
    if f[-4:] == '.csv':
        data = pd.read_csv(f'data/movies/ml-latest-small/{f}')
        data.to_sql(f[:-4], engine)
        print(f[0:-4])

links
ratings
movies
tags

In [2]:
watched_movie_id_list = ['70286', '109487', '589']

In [3]:
movie_id_unique = 'SELECT * FROM movies'
all_movies = pd.read_sql(movie_id_unique, engine)

In [4]:
all_movies

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,9739,193585,Flint (2017),Drama
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [7]:
all_movies[45:60]

,index,movieId,title,genres
45,45,49,When Night Is Falling (1995),Drama|Romance
46,46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
47,47,52,Mighty Aphrodite (1995),Comedy|Drama|Romance
48,48,53,Lamerica (1994),Adventure|Drama
49,49,54,"Big Green, The (1995)",Children|Comedy
50,50,55,Georgia (1995),Drama
51,51,57,Home for the Holidays (1995),Drama
52,52,58,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance
53,53,60,"Indian in the Cupboard, The (1995)",Adventure|Children|Fantasy
54,54,61,Eye for an Eye (1996),Drama|Thriller
55,55,62,Mr. Holland's Opus (1995),Drama
56,56,63,Don't Be a Menace to South Central While Drink...,Comedy|Crime
57,57,64,Two if by Sea (1996),Comedy|Romance
58,58,65,Bio-Dome (1996),Comedy
59,59,66,Lawnmower Man 2: Beyond Cyberspace (1996),Action|Sci-Fi|Thriller

In [5]:
query = 'SELECT "userId", ratings."movieId", movies.title, rating FROM ratings JOIN movies ON ratings."movieId" = movies."movieId";'
all_ratings = pd.read_sql(query, engine)
all_ratings

        userId  movieId                           title  rating
0            1        1                Toy Story (1995)     4.0
1            1        3         Grumpier Old Men (1995)     4.0
2            1        6                     Heat (1995)     4.0
3            1       47     Seven (a.k.a. Se7en) (1995)     5.0
4            1       50      Usual Suspects, The (1995)     5.0
...        ...      ...                             ...     ...
100831     610   166534                    Split (2017)     4.0
100832     610   168248   John Wick: Chapter Two (2017)     5.0
100833     610   168250                  Get Out (2017)     5.0
100834     610   168252                    Logan (2017)     5.0
100835     610   170875  The Fate of the Furious (2017)     3.0

[100836 rows x 4 columns]

In [27]:
import numpy as np

movie_id_unique = 'SELECT * FROM movies'
all_movies = pd.read_sql(movie_id_unique, engine)

#remove the input movies from all_movies
movies_not_watched = all_movies[~all_movies['movieId'].isin(watched_movie_id_list)]
movies_not_watched.loc[:,'fake_id'] = np.ones(len(movies_not_watched), dtype =int)

#get all_ratings from sqlite
query = 'SELECT "userId", ratings."movieId", movies.title, rating FROM ratings JOIN movies ON ratings."movieId" = movies."movieId";'
all_ratings = pd.read_sql(query, engine)

#remove the watched movies from all_ratings
not_all_ratings = all_ratings[~all_ratings['movieId'].isin(watched_movie_id_list)]

#remove movieId and ratings of the watched movies???
movieindex = not_all_ratings['movieId'].unique().tolist()
dl_movie2movie_encoded = {x: i for i, x in enumerate(movieindex)}
dl_movie_encoded2movie = {i: x for i, x in enumerate(movieindex)}

not_all_ratings.loc[:,"movie"] = not_all_ratings["movieId"].map(dl_movie2movie_encoded)
not_all_ratings.loc[:,"rating"] = not_all_ratings["rating"].values.astype(np.float32)

#map userId from ?? to not_all_ratings ?? what do i do with the users??

not_all_user_ids = not_all_ratings["userId"].unique().tolist()
dl_user2user_encoded = {x: i for i, x in enumerate(not_all_user_ids)}
dl_userencoded2user = {i: x for i, x in enumerate(not_all_user_ids)}

not_all_ratings.loc[:,"user"] = not_all_ratings["userId"].map(dl_user2user_encoded)

min_rating = min(not_all_ratings["rating"])
max_rating = max(not_all_ratings["rating"])
num_users = len(dl_user2user_encoded)
num_movies = len(dl_movie_encoded2movie)
print(
        "Number of users: {}, Number of Movies: {}, Min rating: {}, Max rating: {}".format(
            num_users, num_movies, min_rating, max_rating
        )
    )

#define training data
df = not_all_ratings.sample(frac=1, random_state=42)
x = not_all_ratings[["user", "movie"]].values

    # Normalize the targets between 0 and 1. Makes it easy to train.
y = not_all_ratings["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
    # Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
        x[:train_indices],
        x[train_indices:],
        y[:train_indices],
        y[train_indices:],
    )

#inference
user_movie_array = movies_not_watched[['fake_id','index']]
max_movie_index = user_movie_array['index'].max()
that = user_movie_array.to_numpy()

EMBEDDING_SIZE = 50

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers




class RecommenderNet(keras.Model):
        def __init__(self, num_users, num_movies, embedding_size, **kwargs):
            super(RecommenderNet, self).__init__(**kwargs)
            self.num_users = num_users
            self.num_movies = num_movies
            self.embedding_size = embedding_size
            self.user_embedding = layers.Embedding(
                num_users,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            self.user_bias = layers.Embedding(num_users, 1)
            self.movie_embedding = layers.Embedding(
            #change this line from num_movies to max_movie_index+1
                max_movie_index+1,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            #and this line (input_dim)
            self.movie_bias = layers.Embedding(max_movie_index+1, 1)

        def call(self, inputs):
            user_vector = self.user_embedding(inputs[:, 0])
            user_bias = self.user_bias(inputs[:, 0])
            movie_vector = self.movie_embedding(inputs[:, 1])
            movie_bias = self.movie_bias(inputs[:, 1])
            dot_user_movie = tf.tensordot(user_vector, movie_vector, 2)
            # Add all the components (including bias)
            x = dot_user_movie + user_bias + movie_bias
            # The sigmoid activation forces the rating to between 0 and 1
            print(x)
            
            tf.print(dot_user_movie) #decimals with positive and negative {-1,1}
            #tf.print(movie_vector) #arrays
            #tf.print(self.movie_embedding) #object

            
            return tf.nn.sigmoid(x)
            #return movie_bias

model = RecommenderNet(num_users, num_movies, EMBEDDING_SIZE)
model.compile(
        loss=tf.keras.losses.BinaryCrossentropy(), optimizer=keras.optimizers.Adam(lr=0.001)
    )
ratings = model.predict(that).flatten()

top_ratings_indices = ratings.argsort()[-10:][::-1]
movies_not_watched.loc[movies_not_watched['index'].isin(top_ratings_indices)]

/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/conda/lib/python3.8/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Number of users: 610, Number of Movies: 9721, Min rating: 0.5, Max rating: 5.0
Tensor("recommender_net_12/add_1:0", shape=(None, 1), dtype=float32)
Tensor("recommender_net_12/add_1:0", shape=(None, 1), dtype=float32)
-0.0489782952
0.00749459397
0.0433911644
-0.0343981311
-0.029390268
0.0361666493
-0.000240749912
-0.017835008
0.0338442922
-0.0605057925
0.031400498
-0.0472784787
0.0164755434
0.0149922408
-0.0199857336
-0.0664265454
0.00958278216
-0.0327761695
0.0491008908
0.0273761582
0.0246188268
-0.0370448455
-0.00600406295
0.030539576
-0.0508691967
-0.0368220545
0.00409349287
0.0586487427
0.0392241925
0.0625276342
0.0137478514
-0.0086724842
0.00114126969
0.0201291
0.0159189235
-0.0156808775
0.0045783096
0.0623187907
0.0224859454
-0.00843438786
-0.0462597758
-0.0357153341
-0.00639643567
-0.0227868091
-0.048805926
-0.000861406559
-0.0301074497
0.0231671557
-0.0157805718
-0.0459921844
-0.00465418
0.0205843765
0.0445701368
-0.0123737194
0.0221072566
-0.0176441148
-0.0186315682
-0.0166421
-0.0091260178
-0.100244731
0.0178051721
-0.0201641582
-0.00805543549
-0.00761319045
0.0317647755
-0.0711719692
-0.00255849212
0.0269349031
0.0259402301
-0.0160009339
-0.0708107501
0.0553329475
0.0209272243
-0.013005605
-0.043975845
0.0256902277
-0.00210203091
0.0542646646
-0.00714708678
-0.00393340085
0.0136016365
-0.0516351648
-0.0444685705
0.0262626633
0.0305403937
-0.0452736355
0.0114529356
0.038903825
-0.0197494533
-0.0882512704
0.00971413
3.00747342e-06
-0.0744569823
0.00147634675
0.0239009876
-0.0303312391
-0.00894033723
0.0273531973
0.0394102708
0.00193674513
0.0298022088
0.00888668559
0.0463732444
-0.0429105237
-0.0253869481
0.0284143835
-0.0268809497
-0.0466667525
0.0293676704
-0.0240583215
0.0167966504
-0.0106631806
-0.0494569391
0.025982229
0.0287045371
0.0487125367
0.00857158843
0.0406012349
-0.00932631455
-0.0207756907
0.0107130278
-0.017827956
-0.0526169129
-0.00310287718
0.00602201838
0.0512668192
-0.0206269417
-0.0221438278
0.0406784527
0.0301170181
0.0352105238
-0.0615417585
0.0348535851
0.0168033652
0.042749729
-0.00379015412
0.00757289445
-0.0401160903
0.0203779861
-0.0256463643
0.0485279411
0.0270342249
-0.033785969
0.0181191079
-0.0167976636
-0.0255674124
0.00871283468
0.0203187875
-0.0254494734
0.000575958518
-0.0114287399
-0.00788250752
-0.00618879776
-0.0498394929
0.0411551557
-0.0381355248
-0.0220941231
-0.021690933
0.0194265433
0.0184690878
0.0385493711
0.0463348664
0.00878693815
0.00999685936
-0.0540042482
0.0214893296
-0.0468277223
-0.0621753223
-0.000565650407
0.00142591028
-0.0083250422
-0.0126333237
-0.0205258578
-0.0400651023
-0.0264575891
-0.00737048127
0.0230894182
-0.00818011537
-0.0346659869
0.00407396862
0.0210075378
0.0119130528
0.00268813455
0.0241332445
-0.00341756665
-0.0602363944
-0.0212400053
-0.0182659142
-0.0521434285
0.0110530648
0.00373042119
0.0225706585
0.00260888366
0.0200484935
0.0478391908
-0.0270195641
0.0182293989
-0.00214378815
-0.00139574171
-0.0159187187
-0.0149675254
0.0135555211
-0.0430843644
-0.0434831977
-0.0137497978
0.0200978257
-0.0174015369
-0.0328408144
-0.0125811845
0.0190706924
0.0158321261
0.0492591597
0.022465717
0.0103710219
-0.00649004243
0.0677950829
-0.025204299
-0.0174712054
-0.040423058
0.0494277328
0.0647011399
0.0112991836
-0.0220246185
-0.0315301903
0.00925158802
-0.0853110924
0.00754704373
-0.0262117386
-0.0218740553
-0.0626649708
0.0432354845
0.0364848673
0.030212326
-0.00179520086
-0.00714714779
-0.00457210606
-0.0220907219
-0.00866755843
-0.00881190598
-0.0393478423
0.0314133242
0.0456151441
0.0525232
0.0320844
0.00121394452
0.0232463777
0.0203040428
0.0316782966
0.0174890812
0.0115679828
-0.0143176671
-0.0155104352
-0.0576455258
-0.0437527522
0.0297703538
-0.020191595
-0.0013791637
0.0195251368
-0.00678021135
-0.0436911024
-0.0193926934
0.0473397635
-0.0570340976
-0.0335755274
-0.00582524342
-0.00299843354
0.00969887339
0.0127869472
-0.0101951929
0.0498909466
-0.00929650292
0.0389985926
-0.0132762101
0.0189585499
-0.0207818635
-0.0307937805
0.0487091951
-0.0098458752
-0.0317739509
0.0290552694
0.0204798151
-0.0659175441
-0.0358137302
-0.0589587092
0.0463868976
0.0115184132
0.000350827584
-0.00282895658
-0.00558552332
-0.00757408515
0.00791205093
-0.00392038468
0.00990810525
-0.0494682193
0.0372548923
0.0153516866
0.0454772599
-0.00109192426
0.0486269258
0.00282039656
-0.0705076903
-0.0176339671
0.0364388935
-0.0512955934
-0.0163004957

,index,movieId,title,genres,fake_id
865,865,1140,Entertaining Angels: The Dorothy Day Story (1996),Drama,1
890,890,1187,Passion Fish (1992),Drama,1
932,932,1232,Stalker (1979),Drama|Mystery|Sci-Fi,1
946,946,1247,"Graduate, The (1967)",Comedy|Drama|Romance,1
951,951,1252,Chinatown (1974),Crime|Film-Noir|Mystery|Thriller,1
6895,6895,63436,Saw V (2008),Crime|Horror|Thriller,1
6904,6904,63876,Milk (2008),Drama,1
6909,6909,64034,"Boy in the Striped Pajamas, The (Boy in the St...",Drama|War,1
7048,7048,69224,Marius and Jeanette (Marius et Jeannette) (1997),Comedy|Drama|Romance,1
7059,7059,69469,Garfield's Pet Force (2009),Animation,1

In [16]:
tf.print(movie_vector)

NameError: name 'movie_vector' is not defined

In [17]:
def call(self, inputs):
            user_vector = self.user_embedding(inputs[:, 0])
            user_bias = self.user_bias(inputs[:, 0])
            movie_vector = self.movie_embedding(inputs[:, 1])
            movie_bias = self.movie_bias(inputs[:, 1])
            dot_user_movie = tf.tensordot(user_vector, movie_vector, 2)
            # Add all the components (including bias)
            x = dot_user_movie + user_bias + movie_bias
            # The sigmoid activation forces the rating to between 0 and 1
            print(x)
            
            tf.print(movie_vector)
            
            
            return tf.nn.sigmoid(x)

In [22]:
r = RecommenderNet(610, 9742, 100)
r

In [24]:
call(r, 610)

TypeError: 'int' object is not subscriptable

In [8]:
x

array([[   0,    0],
       [   0,    1],
       [   0,    2],
       ...,
       [ 609, 3118],
       [ 609, 1389],
       [ 609, 2870]])

In [9]:
x.shape

(100474, 2)

In [ ]:
not_all_ratings['userId'], not_all_ratings['index']

In [12]:
x[20:40]

array([[ 0, 20],
       [ 0, 21],
       [ 0, 22],
       [ 0, 23],
       [ 0, 24],
       [ 0, 25],
       [ 0, 26],
       [ 0, 27],
       [ 0, 28],
       [ 0, 29],
       [ 0, 30],
       [ 0, 31],
       [ 0, 32],
       [ 0, 33],
       [ 0, 34],
       [ 0, 35],
       [ 0, 36],
       [ 0, 37],
       [ 0, 38],
       [ 0, 39]])

In [11]:
x[100000:100020]

array([[ 609, 2380],
       [ 609, 2986],
       [ 609, 2062],
       [ 609, 9612],
       [ 609, 5971],
       [ 609, 7795],
       [ 609, 3810],
       [ 609, 3446],
       [ 609, 9613],
       [ 609, 5973],
       [ 609, 4322],
       [ 609,  240],
       [ 609, 2386],
       [ 609, 1056],
       [ 609, 1292],
       [ 609, 1148],
       [ 609, 6024],
       [ 609, 1914],
       [ 609, 3082],
       [ 609, 3451]])

In [15]:
(inputs[:, 1])

NameError: name 'inputs' is not defined

In [ ]:
มีอย่างนึงที่ต้องลองทำ คือการแยกไฟล์ออกมาจาก modelselect.py เพราะตอนนี้มันยุ่บยั่บมาก น่าจะต้องมีระเบียบวิธีการออกาไนซ์

In [ ]:
ตกลงเราจะเอา genres bias ของเราไปคูณยังไงคะ

In [ ]:
ตอนนี้รู้แล้วว่า x ก็คือ not_all_ratings['userId'], not_all_ratings['index'] ที่เราทำมาแทบตายน่ะแหละ ได้ใช้