In [7]:
ls

bin@   etc/            lib@    libx32@  opt/   run/   sys/  var/
boot/  flask_jupyter/  lib32@  media/   proc/  sbin@  tmp/
dev/   home/           lib64@  mnt/     root/  srv/   usr/

In [8]:
cd flask_jupyter

/flask_jupyter

In [9]:
ls

data/  __pycache__/  recommender/  spotawheel/  spotawheel1.ipynb

In [10]:
cd spotawheel

/flask_jupyter/spotawheel

In [11]:
ls

'Spotawheel_case_study (1).csv'   spw1.ipynb   spw2.ipynb   Untitled.ipynb

In [13]:
import pandas as pd
data_file = pd.read_csv('Spotawheel_case_study (1).csv')
data_file

,Name,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age
0,Hyundai i10 Era,60000,Petrol,Manual,2,19.81,1086,68.05,5,2650.0,9
1,Toyota Fortuner 4x2 Manual,73500,Diesel,Manual,1,13.00,2982,168.50,7,22000.0,6
2,Mercedes-Benz E-Class 230 E AT,28888,Petrol,Automatic,1,10.00,2496,157.70,5,7560.0,12
3,Volkswagen Polo Petrol Trendline 1.2L,41000,Petrol,Manual,1,16.47,1198,73.90,5,3100.0,9
4,Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic,52000,Diesel,Automatic,1,15.68,1999,177.00,5,42000.0,5
...,...,...,...,...,...,...,...,...,...,...,...
4902,Toyota Innova 2.5 G (Diesel) 8 Seater,250000,Diesel,Manual,2,12.99,2494,100.60,8,7900.0,8
4903,Mercedes-Benz New C-Class 220 CDI AT,38000,Diesel,Automatic,1,14.84,2143,170.00,5,13510.0,9
4904,Toyota Innova Crysta 2.8 ZX AT,40674,Diesel,Automatic,1,11.36,2755,171.50,7,24820.0,2
4905,Honda City i VTEC V,62505,Petrol,Manual,1,17.40,1497,117.30,5,5950.0,7
4906,Maruti Swift ZXI,40000,Petrol,Manual,1,20.40,1197,81.80,5,5900.0,6